html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  height: 100%;
  width: 100%;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 15px;
}
